#mySearch {
    width: 20%;
    font-size: 10px;
    padding: 11px;
    border-radius: 25px;
    border: 1px solid #99730a;
    position: relative;
    top: 5px;
    left: 5px;
  }
  .column{
    position: relative;
    bottom: 30px;
    left: 250px;
    justify-content: space-between;
    border-bottom:1px solid goldenrod ;
    height: 30px;
    width: 700px;
  }
  a:link{
    text-decoration: none;
    display: inline;
    padding-right:20px ;
    position: relative;
    top: 7px;
    left: 50px;
    justify-content: space-between;
  }
  a:visited{
    text-decoration: none;
    color: white;
  }
  .container{
    border: 2px solid rgba(17, 0, 255, 0.664);
    width: 950px;
    height: 500px;
    background-color: gray;
    position: relative;
    left: 60px;
  }
  .text{
    border-right: 3px solid #99730a;
    width:40%;
    height: 250px;
    text-align: center;
    position: absolute;
    font-size: 60px;
    top: 210px;
    left: 30px;
  }
  .image{
    position:absolute; 
    top:296px; 
    left:758px; 
    border-radius: 50px 75px 15px;
    width:190px; 
    height:200px; 
    
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
.form{
   /* background-color:  #99730a;  */
    width: 400px;
    height:390px;
    border: 1px solid black;
    display: block;  
    position: relative;
    top:50px;
    left: 400px; 
}
.field{
  color: white;
  position: absolute;
  align-items: center;
  left: 130px;
}
#fname{
  position: relative;
    top: 80px;
  right: 75px;
  
}
  #passwd{
    position: relative;
    top: 100px;
    right:12px;
  } 
  .former{
    border:1px solid blue;
    width: 99%;
    height: 500px;
    text-align: center;
    background-color: gray;
  }
  .add{
    border: 1px solid white;
    width:400px ;
    height:390px ;
    margin-left:10px;
    position: relative;
    bottom:1px;

    display: block;
    background-color: rgb(63, 170, 170);
  }
  .fields{
    position:relative;
    top: 70px;
  }
  .table{
    border: 1px solid black;
    width:720px ;
    height: 390px;
    position: absolute;
    top:47px;
    left:500px; 
    background-color: rgb(63, 170, 170);
  }
  .remember{
    position: relative;
    top: 290px;
    
  }